# LLM 配置
LLM_TYPE=dify
# local 或 openai 或 groq 或 dify
LLM_GROUP_ANALYSIS=true
# 是否拆开每个群组独立分析

# Ollama 配置
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=deepseek-r1
OLLAMA_REVIEW_MODEL=llama3.1

# Dify API 配置
DIFY_API_KEY=
DIFY_REVIEW_API_KEY=
DIFY_API_BASE_URL=https://lap2-api-dev.int.rclabenv.com/v1

# OpenAI 配置
OPENAI_API_KEY=
OPENAI_MODEL=deepseek-ai/deepseek-r1
OPENAI_REVIEW_MODEL=deepseek-ai/deepseek-r1
OPENAI_API_BASE_URL=https://integrate.api.nvidia.com/v1

# Groq 配置
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_REVIEW_MODEL=llama-3.1

# Bot 配置
BOT_TYPE=user
# user 或 team
BOT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImVzb25lLnFpdUByaW5nY2VudHJhbC5jb20iLCJzZXJ2aWNlIjoiU01fYm90LnNlcnZpY2UiLCJyb2xlIjoiUk9MRV9VU0VSIiwiaWF0IjoxNzM5OTQyMjUyLCJleHAiOjIwNTUzMDIyNTJ9.ieSb3zGIwVhUTqZpkgJipK8ktH4FVJr3vDF0kyQ-4DI
TEAM_ID=1497300893698

# 是否开启消息提醒
ENABLE_BOT=true
# 是否开启消息审核
LLM_REVIEW_BEFORE_SEND=true
